@import "tailwindcss";

@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Saira";
  src: url("/fonts/Saira.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .font-roboto {
    font-family: "RobotoSlab", serif, system-ui;
  }
  .font-saira {
    font-family: "Saira", sans-serif, system-ui;
  }
}

:root {
  @apply text-zinc-200 bg-stone-900 leading-relaxed;
  color-scheme: light dark;
  font-family: "Saira", sans-serif, system-ui;
  font-weight: 600;
}

body {
  /* Standard rules from vite */
  @apply m-0 flex items-center min-w-[320px] min-h-screen;
}

@media (prefers-color-scheme: light) {
  :root {
    @apply text-zinc-900 bg-zinc-50;
  }
}
